@model Product
    <table>
            <tr>
            <td>Item Id</td>
            <td>
                @Model.Id
            </td>
            </tr>
        <tr>
            <td>Item Name</td>
            <td>
            @Model.Name
            </td>
        </tr>
        <tr>
            <td>Item price</td>
            <td>
            @Model.Price
            </td>
        </tr>
        <tr>
            <td>Item Category</td>
            <td>
            @Model.Category
            </td>
        </tr>
        }
       
    </table>